@import '@styles/mixins.scss';

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid var(--border-color);
}

.docContent {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    @include desktop {
        margin-left: 64px;
    }
}

.pageGrid {
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
    }
}

.sidebar {
    display: none;
    @include desktop {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        width: 270px;
    }
}
