.ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 24px;
}

.ol {
    padding-left: 20px;
    margin-bottom: 24px;
}

.li {
    font-size: 14px;
    line-height: 146%;
    margin-bottom: 4px;
}

.blockquote {
    padding: 12px;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    max-width: max-content;
}