.ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 24px;
}

.ol {
    padding-left: 20px;
    margin-bottom: 24px;
}

.li {
    font-size: 14px;
    line-height: 146%;
    margin-bottom: 4px;
}

.labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4px;
    row-gap: 4px;
}

.parameter {
    position: relative;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
}

.bordered {
    border-bottom: 1px solid var(--border-color);
}

.legend {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    padding-left: 0 !important;
    list-style-type: none !important;
}

.marker {
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.unsupported {
    color: var(--error70);
}

.modified {
    color: var(--warning70);
}

.added {
    color: var(--success70);
}

.tooltip {
    position: relative;
    top: 3px;
    left: 3px;
}

.stateIcon {
    position: absolute;
    bottom: -3px;
    right: 0;
}

.copy {
    cursor: pointer;
    position: relative;
}

.copyIcon {
    position: relative;
    top: 3px;
    left: 3px;
}