.ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 24px;
}

.ol {
    padding-left: 20px;
    margin-bottom: 24px;
}

.li {
    font-size: 14px;
    line-height: 146%;
    margin-bottom: 4px;
}

.parameter {
    position: relative;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.bordered {
    border-bottom: 1px solid var(--border-color);
}

.legend {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    padding-left: 0 !important;
    list-style-type: none !important;
}

.marker {
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.unsupported {
    color: var(--unsupported-color);
}

.marker_unsupported {
    color: var(--error70);
}

.marker_modified {
    color: var(--warning70);
}

.marker_added {
    color: var(--success70);
}

.modified {
    color: var(--modified-color);
}

.added {
    color: var(--added-color);
}

.tooltip {
    position: relative;
    top: 3px;
    left: 3px;
}

.stateIcon {
    position: absolute;
    bottom: -3px;
    right: 0;
}

.copy {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyIcon {
    margin-left: 4px;
    svg {
        transition: fill .2s ease;
    }
    &:hover {
        svg {
            fill: var(--neutral);
            transition: fill .2s ease;
        }
    }
}

.reference {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: max-content;
    svg {
        margin-left: 4px;
        transition: fill .2s ease;
    }
    &:hover {
        svg {
            fill: var(--neutral);
            transition: fill .2s ease;
        }
    }
}

.parameterValue {
    margin-left: 24;
    word-break: break-all;
    width: 100%;
}

.additionalParameterClass {
    display: flex;
    flex-direction: row;
}

.multiRowContainer {
    display: flex;
    flex-direction: column;
    padding: 12px 0 0;
}

.multiRow {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    padding: 12px 0 0;
}

.multiRowValues {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1;
}

.multiRowValue {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    margin-bottom: 12px;
}