@use '@styles/mixins';

.mpc_section_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid var(--border-color);
    margin: 50px 0;

    @include mixins.desktop {
        flex-direction: row;
        height: 288px;
        margin: 36px 0 100px;
    }
}

.mpc_section_image {
    display: flex;
    flex: 1;
    padding: 16px;

    img {
        max-width: 100%;
        height: auto;
        position: relative;
        top: -90px;
    }

    @include mixins.desktop {
        padding: 49px 0 49px 64px;
        img {
            top: -50px;
        }
    }
}

.mpc_section_content {
    display: flex;
    flex: 1;
    padding: 16px;

    @include mixins.desktop {
        padding: 49px 64px 49px 0;
    }
}

.mpc_section_content_text {
    flex-direction: column;
    justify-items: center;
    text-align: center;
    width: 100%;

    @include mixins.desktop {
        max-width: 572px;
        justify-items: flex-start;
        text-align: left;
    }
}

.button {
    background: linear-gradient(45deg, #FFEB36 0%, #6AFF36 100%);
    padding: 8px;
    max-width: 192px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}