@use '@styles/mixins';

.grid {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 16px;
    padding-bottom: 64px;
    justify-content: flex-start;
    @include mixins.tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
