@import '@styles/mixins.scss';

:root {
    --neutral100: #000000;
    --neutral90: #131313;
    --neutral80: #1D1D1D;
    --neutral70: #3C3C3C;
    --neutral60: #565656;
    --neutral50: #717070;
    --neutral40: #949494;
    --neutral30: #C3C3C3;
    --neutral20: #E1E1E1;
    --neutral10: #F1F1F1; 
    --neutral5: #F6F6F6;
    --neutral: #ffffff;

    --success100: #003A14;
    --success90: #005720;
    --success80: #00722D;
    --success70: #048B3A;
    --success60: #0DA048;
    --success50: #29BC63;
    --success40: #53D47F;
    --success30: #7CE69D;
    --success20: #A6F3BB;
    --success10: #E3FFEB;

    --warning100: #4D2200;
    --warning90: #793600;
    --warning80: #A64B00;
    --warning70: #D25F00;
    --warning60: #F17400;
    --warning50: #FF8A29;
    --warning40: #FFA053;
    --warning30: #FFB77C;
    --warning20: #FFCDA6;
    --warning10: #FFEEE0;

    --error100: #4B0213;
    --error90: #75041F;
    --error80: #9D092C;
    --error70: #C40E3A;
    --error60: #EA1548;
    --error50: #FD2B5E;
    --error40: #FF5376;
    --error30: #FF7C92;
    --error20: #FFA6B1;
    --error10: #FFD8DD;

    --label-color-1: #F59762;
    --label-color-2: #69DC6E;
    --label-color-3: #E47AFF;
    --label-color-4: #7A8FFF;
    --label-color-5: #DF1FA9;
    --label-color-6: #DDA411;
    --label-color-7: #00AB82;

    --unsupported-color: var(--error90);
    --modified-color: var(--warning90);
    --added-color: var(--success90);

    /* Your default theme */
    --background: var(--neutral100);
    --text-color: var(--neutral);
    --border-color: var(--neutral50);
    --opposite-background-color: var(--neutral);
    --opposite-text-color: var(--neutral100);
    --icon-color: var(--neutral);
    --link-color: var(--neutral);
    --dropdown-body-background-color: var(--neutral80);
    --dropdown-item-hover-color: var(--neutral70);

    // Sibebar
    --sidebar-item-color: var(--neutral50);
    --sidebar-item-active-color: var(--neutral);

    // Markdown
    --markdown-text-color: var(--neutral30);
    --code-background-color: var(--neutral70);
    --row-background-color-hover: var(--neutral90);
    --added-color: var(--success70);
    --modified-color: var(--warning70);
    --unsupported-color: var(--error70);
    --blockquote-background-color: var(--neutral80);
}

.light {
    --background: var(--neutral);
    --text-color: var(--neutral100);
    --border-color: var(--neutral40);
    --opposite-background-color: var(--neutral100);
    --opposite-text-color: var(--neutral);
    --icon-color: var(--neutral100);
    --link-color: var(--neutral100);
    --dropdown-body-background-color: var(--neutral10);
    --dropdown-item-hover-color: var(--neutral20);

    // Sibebar
    --sidebar-item-color: var(--neutral40);
    --sidebar-item-active-color: var(--neutral100);

    // Markdown
    --markdown-text-color: var(--neutral70);
    --code-background-color: var(--neutral20);
    --row-background-color-hover: var(--neutral10);
    --added-color: var(--success30);
    --modified-color: var(--warning30);
    --unsupported-color: var(--error30);
    --blockquote-background-color: var(--neutral20);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    font-size: 14px;
    color: var(--text-color);
}

body {
    background: var(--background);
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.gradientBg {
    margin: 0 auto;
    max-width: max-content;
    background: linear-gradient(5deg, #FFEB36 0%, #6AFF36 100%);
    padding: 0 12px;
}

.topLeftShadow {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    max-width: 100vw;
    opacity: .5;
}

.bottomRightShadow {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    max-width: 100vw;
    opacity: .5;
}

// ========================
// Markdown styles
// ========================

#markdown {
    color: var(--markdown-text-color);
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    h1 {
        font-size: 64px;
        letter-spacing: -0.03em;
        line-height: 125%;
        font-family: var(--font-chakra-petch);
        font-weight: 700;
        margin-bottom: 24px;
        color: var(--text-color);
    }

    h2 {
        font-size: 48px;
        letter-spacing: -0.03em;
        line-height: 130%;
        font-family: var(--font-chakra-petch);
        font-weight: 700;
        margin-bottom: 24px;
        color: var(--text-color);
    }
    
    h3 {
        font-size: 32px;
        font-family: var(--font-chakra-petch);
        font-weight: 700;
        line-height: 41px;
        margin-bottom: 16px;
        color: var(--text-color);
    }
    
    h4 {
        font-size: 24px;
        font-family: var(--font-chakra-petch);
        font-weight: 700;
        line-height: 31px;
        margin-bottom: 16px;
        color: var(--text-color);
    }
    
    h5 {
        font-size: 18px;
        line-height: 158%;
        font-family: var(--font-chakra-petch);
        font-weight: 700;
        margin-bottom: 8px;
        color: var(--text-color);
    }
    
    h6 {
        font-size: 14px;
        line-height: 146%;
        font-family: var(--font-inter);
        font-weight: 700;
        margin-bottom: 8px;
        color: var(--text-color);
    }

    p {
        font-size: 14px;
        line-height: 146%;
        font-family: var(--font-inter);
        font-weight: 400;
        margin-bottom: 12px;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 24px;
    }
    
    ol {
        padding-left: 20px;
        margin-bottom: 24px;
    }
    
    li {
        font-size: 14px;
        line-height: 146%;
        margin-bottom: 4px;
    }

    a {
        text-decoration: underline;
    }

    hr {
        background: var(--border-color);
        height: 1px;
        border: none;
    }

    code {
        background: var(--code-background-color);
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        padding: 0px 2px;
        color: var(--text-color);
        font-family: var(--font-roboto-mono);
    }

    strong {
        color: var(--text-color);
    }

    .unsupported {
        border-color: var(--unsupported-color);
    }

    .modified {
        border-color: var(--modified-color);
    }

    .added {
        border-color: var(--added-color);
    }

    blockquote {
        padding: 16px;
        color: var(--text-color);
        background-color: var(--blockquote-background-color);
        margin-bottom: 24px;
        p { margin: 0; }
    }
}

table {
    margin: 24px 0;
    padding: 0 12px 12px;
    border: 1px solid var(--border-color);
    width: 100%;

    th {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 12px 0;
        min-width: max-content;
        border-bottom: 1px solid var(--border-color);
        padding-right: 20px;
        color: var(--text-color);
    }

    td {
        padding: 12px 0;
        min-width: max-content;
        border-bottom: 1px solid var(--border-color);
        padding-right: 20px;
        position: relative;
        vertical-align: baseline;
    }

    tbody > tr {
        &:hover {
            background: var(--row-background-color-hover);
        }
    }

}


.sidebarItem {
    display: flex;
    width: 100%;
    align-items: center;
    height: 52px;
    font-weight: 700;
    font-size: 14px;
    font-family: var(--font-inter);
    color: var(--sidebar-item-color);
}

#sidebar_placeholder {
    display: none;
    @include tablet {
        width: 270px;
    }
}

.sidebar_placeholder_visible {
    display: block !important;
}

.sticky {
    position: fixed;
    top: 0;
    transition: top .5s ease;
}

.sidebar-item-active {
    color: var(--sidebar-item-active-color) !important;
}