@use '@styles/mixins';

.button {
    background: linear-gradient(45deg, #FFEB36 0%, #6AFF36 100%);
    padding: 8px;
    max-width: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mixins.tablet {
        max-width: 160px;
    }
}

.exit_hatch_banner_container {
    width: 100%;
    background-color: var(--exit-hatch-banner-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
    padding: 8px 16px;
    transition: transform .4s ease;

    @include mixins.tablet {
        padding: 16px 64px;
    }
}

.hidden {
    display: none;
}