.section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 0;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}
.button {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 6px;
}

.children {
    padding-top: 24px;
}

.sectionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}