@use '@styles/mixins';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 16px;
    padding: 10px 0;
    @include mixins.desktop {
        flex-direction: row;
    }
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 0;
    row-gap: 24px;
    @include mixins.desktop {
        flex-direction: row;
    }
}

.pipe {
    display: none;
    @include mixins.desktop {
        display: flex;
        margin: 0 16px;
    }
}

.link {
    margin-right: 10px;
}

.defaultButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}