.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    width: 32px;
    height: 32px;
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white);
}

.largeCircle {
    width: 48px;
    height: 48px;
}
