@use '@styles/mixins';

.breadcrumbs {
    display: none;
    @include mixins.tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: auto;
        margin-left: 32px;
    }
}

.icon {
    margin: 0 12px;
}