@import '@styles/mixins.scss';

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid var(--border-color);
}

.docContent {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    @include tablet {
        margin-left: 64px;
    }
}

.pageGrid {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
}

.sidebar {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    @include tablet {
        max-width: 270px;
    }
}